body {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

.cardAttr1 {
  display: flex;
  flex-direction: column;
}

.cardAttr2 {
  display: flex;
  flex-direction: column;
}

.cardAttr3 {
  display: flex;
  flex-direction: column;
}

.cardImage {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
}
